/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    opacity: 50%
  }
  
  #logo{
    margin-left: 33%;
    margin-top: 10%;
    max-width: 35%;
  }

  .test{

  }
  .enter{
    margin-left: 48%;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}


.m-logo{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 8%;
}

.menu-list{
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
  color: black !important;
  text-decoration: none !important;
  margin-bottom: 20%;
}

.menu-list2{
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
  color: black !important;
  text-decoration: none !important;
  margin-bottom: 20%;
}

.menu-list3{
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
  color: black !important;
  text-decoration: none !important;
  margin-bottom: 20%;
}

.menu-list4{
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
  color: black !important;
  text-decoration: none !important;
  margin-bottom: 20%;
}

.link{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

footer{
  font-family: 'Kanit', sans-serif;
  text-align: center;
  margin-top: 12%;
  font-size: 12px;
}


@media only screen and (max-width: 768px) {

  #logo{
    margin-top: 35%;
    max-width: 75%;
    margin-left: 13%;
}


.test{
  margin-right: 9%;
}

.m-logo{
  margin-top: 25%;
}
}

/*
.slide {
  height: 200px;
  background-color: white;
  padding:20px;
  margin-top:10px;
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
  
}




#show_div {
  margin-left: 40px;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border: 1px solid #333;
  font-size: 30px;
}

.show {
  display: none;
}
*/